.button {
  position: relative;
  padding: 8px;
  border-radius: 16px;
  width: 100px;
  outline: none;
  border: none;
  transition: all 0.3s ease-out;
  background-color: #9fa628;
  color: white;
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
  overflow: hidden;
  font-size: 20px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enabled:hover {
  transform: translateY(-2px);
}

.enabled:active {
  transform: translateY(2px);
}

.disabled {
  opacity: 0.3;
}
