.root-container {
  width: 400px;
  box-sizing: border-box;
  margin: 32px auto;
  transition: all 0.4s ease-out;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin-top: 16px;
  padding: 16px;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 30%);
  border-radius: 8px;
}

.greeting {
  text-align: center;
  font-weight: 400;
}

.logo {
  display: block;
  width: 70%;
  margin: 8px auto;
  object-fit: cover;
  border: 1px solid rgb(0 0 0 / 30%);
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .root-container {
    width: 350px;
    margin: 0 auto;
  }
}
